form {
    background: rgb(49, 49, 49);
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(49, 49, 49);
}

.uploadButton {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid rgb(39, 39, 39);
    background: rgb(39, 39, 39);
    color: burlywood;
}

.uploadButton:hover {
    color: rgb(19, 202, 205);
    transition: 0.3s ease-in;
    background: white;
    cursor: pointer;
}

.uploadButton:disabled {
    background: rgb(21, 21, 21);
    color: rgb(13, 163, 148);
    cursor: default;
}